html {
  background: url("images/bg-intro-desktop.png"), hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
}

.learn {
  margin-top: 6rem;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-left: 4rem;
  padding-right: 4rem;
}

.experienced {
  text-align: center;
  margin-top: 1.5rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.try-free {
  margin-top: 3rem;
  text-align: center;


}

.try-free > button {
  background: #82589F;
  border: none;
  padding: 1.5rem 5.5rem 1.5rem 5.5rem;
  border-radius: 5px;
  border-bottom: hsl(0, 0%, 50%, .9 ) solid .5rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.form-container {
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  text-align: center;
}

input {

  width: 90%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}
