* {
    box-sizing: border-box
}

html {
  background: url("images/bg-intro-desktop.png"), hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
}

.learn {
  margin-top: 6rem;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-left: 4rem;
  padding-right: 4rem;
}

.experienced {
  text-align: center;
  margin-top: 1.5rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.try-free {
  margin-top: 3rem;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

.bold-try-free {
  font-weight: 600;
}


.try-free > button {
  background: #82589F;
  border: none;
  padding: 1.5rem 5.5rem 1.5rem 5.5rem;
  border-radius: 5px;
  border-bottom: hsl(0, 0%, 50%, .9 ) solid .5rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
}

.form-container {
  margin-top: 2rem;
  margin-left: 6%;
  margin-right: 6%;
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  border-radius: 10px;
  margin-bottom: 5rem;
  border-bottom: hsl(0, 0%, 0%, .4 ) solid .3rem;
}

input {
  width: 80%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: none;
  border: hsl(0, 0%, 50%, .3) .5px solid;
  padding: 1.3rem 0 1.3rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
}

input[type="submit"] {
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 1.25rem .5rem 1.25rem .5rem;
  width: 84%;
  border-bottom: hsl(0, 0%, 50%, .4 ) solid .3rem;
  font-weight: 500;
  letter-spacing: .1em;
}

.terms {
  color: hsl(0, 0%, 50%, .6);
  font-size: 10px;
  padding-bottom: 2rem;
}

.terms-and-service {
  color: hsl(0, 100%, 74%);
}

@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
  }

  .section-1 {
    margin-top: 15%;
    width: 50%;
    padding-left: 14%;
  }

  .learn {
    font-size: 50px;
    line-height: 3.5rem;
    padding-left: 0;
    text-align: left;

  }

  .experienced br {
    display: none;
  }

  .experienced {
    text-align: left;
    padding-left: 0;
    padding-right: 10%
  }


  .section-2 {
    margin-top: 5%;
    width: 40%;
  }

  .try-free > button {
    height: 4rem;
    padding: 0;
  }

.try-free > button br {
  display: none;
  }

  .form-container {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  input {
    width: 85%;
  }

  .terms br {
    display: none;
  }

}
